{% load widget_tweaks%}
<form hx-post="{% url 'account_password_change' %}" hx-target="#password-change-container">
  {% csrf_token %}
  {% for field in form %}
    <div class="form-control w-full">
      <label class="label">
        <span class="label-text">{{ field.label }}</span>
      </label>
      {% with WIDGET_ERROR_CLASS='input-error' WIDGET_REQUIRED_CLASS='required' %}
        {% render_field field class="input input-bordered w-full" %}
      {% endwith %}
      {% if field.errors %}
        <div class="text-error text-sm mt-1">{{ field.errors }}</div>
      {% endif %}
    </div>
  {% endfor %}
  <div class="mt-4">
    <button type="submit" class="btn btn-primary w-full">Change Password</button>
  </div>
</form>