<div class="flex flex-col items-center text-center">
  {% if profile.avatar %}
    <div class="mb-4">
      <img
        src="{{ profile.avatar.url }}"
        alt="Profile Avatar"
        class="w-24 h-24 rounded-full border-2 border-primary object-cover shadow-md">
    </div>
  {% endif %}

  <h2 class="text-2xl font-bold text-primary mb-2">{{ profile.username }}</h2>

  {% if profile.bio %}
    <div class="max-w-md mt-2">
        <h3>Bio</h3>
      <p class="text-base-content opacity-80 italic">{{ profile.bio }}</p>
    </div>
  {% else %}
    <p class="text-base-content opacity-60 italic">No bio added yet</p>
  {% endif %}
</div>