{% extends 'base.html' %}
{%block title%}
Profile Settings
{%endblock%}
{%block content%}
<div id="profile-info"
     hx-trigger="load, infoChanged from:body"
     hx-get="{% url 'user:profile-info' %}"
     hx-target="#profile-info"
     hx-swap="innerHTML">
</div>
<button class="btn"
  onclick="user_modal.showModal()"
  hx-get="{% url 'user:form-profile' %}"
  hx-target="#modal-response"
  hx-swap="innerHTML">
  Open Profile Form
</button>

<dialog id="user_modal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Hello!</h3>
    <p class="py-4">Press ESC key or click the button below to close</p>
    <div id="modal-response">
      <!-- Form will be loaded here via HTMX -->
    </div>
  </div>
</dialog>

<p></p>
<hr>

<div class="dropdown mb-72">
  <div tabindex="0" role="button" class="btn m-1">
    Theme
    <svg
      width="12px"
      height="12px"
      class="inline-block h-2 w-2 fill-current opacity-60"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 2048 2048">
      <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
    </svg>
  </div>
  <form hx-post="{% url 'user:profile-theme'%}" hx-trigger="change" hx-swap="none">
  <ul tabindex="0" class="dropdown-content bg-base-300 rounded-box z-1 w-52 p-2 shadow-2xl">
    <li>
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
        aria-label="Default"
        value="default" />
    </li>
    <li>
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
        aria-label="Retro"
        value="retro" />
    </li>
    <li>
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
        aria-label="Cyberpunk"
        value="cyberpunk" />
    </li>
    <li>
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
        aria-label="Valentine"
        value="valentine" />
    </li>
    <li>
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
        aria-label="Aqua"
        value="aqua" />
    </li>
  </ul>
  </form>
</div>
<script>
  document.body.addEventListener("infoChanged", function()
  {
    document.querySelector("#user_modal").close();
  });
</script>
{%endblock%}